<?xml version="1.0" encoding="UTF-8" ?>

<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.phonegap.example"
    versionCode = "01"
    version     = "0.1.1" >

	<name>TuCuatro Songbook</name>
	
	<description>
	  Learn your favorite songs with chord figures at TuCuatro.
	</description>

	<author href="https://tucuatro.com" email="mobile@tucuatro.com">
	  TuCuatro Corp.
	</author>
	
	<preference name="SplashScreenDelay"            value="10000" />
    <preference name="SplashScreen"                 value="screen" />
	
	<icon src="icon.png" width="1024" height="1024" />

	<!-- Inapp browser plugin. open a native browser window -->
	<plugin name="cordova-plugin-inappbrowser"/>
	
	<!-- Allow links from TuCuatro to open inapp -->
	<plugin name="cordova-plugin-whitelist"/>
	
	<!-- Needed to use a splash screen -->
    <plugin name="cordova-plugin-splashscreen"/>
	
    <plugin name="cordova-plugin-device"                spec="1.0.1" />
    <plugin name="cordova-plugin-console"               spec="1.0.1" />
    <plugin name="cordova-plugin-statusbar"             spec="1.0.1" />
    <plugin name="cordova-plugin-screen-orientation"    spec="1.3.6" />
	
	<access origin="https://tucuatro.com" subdomains="true" launch-external="no"/>
	
	<allow-navigation href="https://tucuatro.com/*" />
	<allow-intent href="https://tucuatro.com/*" />
	
	<preference name="EnableViewportScale" value="false" />
	<preference name="prerendered-icon" value="true" />
	<preference name="show-splash-screen-spinner" value="true" />
	<preference name="auto-hide-splash-screen"    value="true" />
	<preference name="webviewbounce"              value="false" /> 
	

	<!-- Allow youtube -->
	<preference name="AllowInlineMediaPlayback" value="true" />
	<preference name="MediaPlaybackRequiresUserAction" value="false" />   
	<allow-navigation href="*youtube*" />
	<allow-navigation href="*ytimg*" />
	<allow-navigation href="*youtube-nocookie*" />
	
	
	<!-- Define app icon for each platform. -->
    <icon src="icon.png" />
    <icon src="icon.png"            gap:platform="ios"        width="57" height="57" />
    <icon src="icon.png"            gap:platform="ios"        width="72" height="72" />
    <icon src="icon.png"         gap:platform="ios"        width="114" height="114" />
    <icon src="icon.png"         gap:platform="ios"        width="144" height="144" />
   
    <!-- Define app splash screen for each platform. -->
    <gap:splash src="res/screen/android/screen-ldpi-portrait.png"       gap:platform="android" gap:qualifier="port-ldpi" />
    <gap:splash src="res/screen/android/screen-mdpi-portrait.png"       gap:platform="android" gap:qualifier="port-mdpi" />
    <gap:splash src="res/screen/android/screen-hdpi-portrait.png"       gap:platform="android" gap:qualifier="port-hdpi" />
    <gap:splash src="res/screen/android/screen-xhdpi-portrait.png"      gap:platform="android" gap:qualifier="port-xhdpi" />
    <gap:splash src="res/screen/blackberry/screen-225.png"              gap:platform="blackberry" />
    <gap:splash src="res/screen/ios/screen-iphone-portrait.png"         gap:platform="ios"     width="320" height="480" />
    <gap:splash src="res/screen/ios/screen-iphone-portrait-2x.png"      gap:platform="ios"     width="640" height="960" />
    <gap:splash src="res/screen/ios/screen-iphone-portrait-568h-2x.png" gap:platform="ios"     width="640" height="1136" />
    <gap:splash src="res/screen/ios/screen-ipad-portrait.png"           gap:platform="ios"     width="768" height="1024" />
    <gap:splash src="res/screen/ios/screen-ipad-landscape.png"          gap:platform="ios"     width="1024" height="768" />
    <gap:splash src="res/screen/windows-phone/screen-portrait.jpg"      gap:platform="winphone" />
	
	
   
	
	
</widget>