<?xml version="1.0" encoding="UTF-8" ?>

<plugin name="cordova-plugin-whitelist"/>
<access origin="https://tucuatro.com" subdomains="true" launch-external="no"/>
<allow-intent href="http://*/*" />
<allow-intent href="https://*/*" />

<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.phonegap.example"
    versionCode = "00"
    version     = "0.0.0" >

	<!-- versionCode is optional and Android only -->

	<name>TuCuatro Songbook</name>
	<icon src="inc/tucuatro-splash.png" />
   
	
	<description>
	  Learn your favorite songs with chord figures at TuCuatro.
	</description>

	<author href="https://tucuatro.com" email="mobile@tucuatro.com">
	  TuCuatro Corp.
	</author>
	
</widget>