<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.phonegap.example"
    versionCode = "00"
    version     = "0.0.0" >

	<!-- versionCode is optional and Android only -->

	<name>TuCuatro Songbook</name>
	<icon src="tucuatro.png" />
    ...
    <platform name="ios">
    <icon src="inc/tucuatro-splash.png" />
    <splash src="inc/tucuatro-splash.png" width="320" height="480"/>
    <splash src="inc/tucuatro-splash.png" width="640" height="960"/>
    </platform>

	<description>
	  Learn your favorite songs with chord figures at TuCuatro.
	</description>

	<author href="https://tucuatro.com" email="mobile@tucuatro.com">
	  TuCuatro Corp.
	</author>
	
</widget>